name: Analyze using pre-commit hooks

on:
  push:
    branches: [arm, main, sbp]
  pull_request:
    branches: [main]
  workflow_dispatch:

permissions:
  contents: read

env:
  UV_VERSION: '0.7.12'
  BIOME_VERSION: '2.3.8'

jobs:
  analyze:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version:
          - '3.13'
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          persist-credentials: false
      - uses: actions/setup-python@a309ff8b426b58ec0e2a45f0f869d46889d02405 # v6.2.0
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install uv
        uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0
        with:
          version: ${{ env.UV_VERSION }}
      - name: Install Biome
        uses: biomejs/setup-biome@29711cbb52afee00eb13aeb30636592f9edc0088 # v2.7.0
        with:
          version: ${{ env.BIOME_VERSION }}

      - name: Install dependencies
        run: uv sync --frozen --all-groups

      - name: Cache pre-commit data
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: ~/.cache/pre-commit
          key: pre-commit-3|${{ env.pythonLocation }}|${{ hashFiles('.pre-commit-config.yaml') }}

      - name: Show pip version
        run: |
          pip --version
          python -m pip --version
          pip3 --version
          python3 -m pip --version
          uv run --frozen pip --version

      - name: Run pre-commit
        run: |
          uv run --frozen pre-commit run --show-diff-on-failure --color=always --all-files
